@{
    var currentUser = ((BaseController)ViewContext.Controller).CurrentUser ?? new User() { ID = 0 };
    ViewBag.SidebarCSS = currentUser.ID > 0 ? "sidebar-reg" : "";

    ViewBag.Title = "CityLove - Все фото";
    Layout = "~/Views/Shared/InnerPage.cshtml";
    ViewBag.ContentWrapCSS = "content-wrap-reg";
    ViewBag.ContentCSS = "place";
    User user = (ViewBag.User as User) ?? new User();
}
@using SexiLove.Models
@model List<PlaceImage>

<header class="content-header row">
    <ol class="list-unstyled breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Places", "Places")">Каталог мест</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("View", "Places", new{ID = Model.First().PlaceID})">@Model.First().Place.Type &laquo;@Model.First().Place.Name&raquo;</a></li>
        <li class="breadcrumb-item"><a href="#">Все фото</a></li>
    </ol>
    @Html.Action("Account", "Cabinet")
</header>
<div class="photos">
    @foreach (var photo in Model)
    {
        <a href="@photo.Path" class="photos-item"><img src="@photo.Path?w=190&h=190&mode=crop"></a>
    }
</div>

@section sidebar{
    @Html.Action("LeftMenu", "Cabinet")
}