@using SexiLove.Models
@model SexiLove.Models.Event
@{
    var currentUser = ((BaseController)ViewContext.Controller).CurrentUser ?? new User() { ID = 0 };
    var friends = new xDBDataContext().Friends.Where(
        x => x.IsRead && (x.FromUserID == currentUser.ID || x.ToUserID == currentUser.ID) && x.Status == 1).ToList().Select(x => x.GetUserID(currentUser)).ToList();
}

@foreach (var meet in new List<Event>(){Model})
{
    var iamgo = meet.EventPeoples.Any(x => x.FromUserID == currentUser.ID && x.Status == 1 && x.Type == 1) || meet.EventPeoples.Any(x => x.ToUserID == currentUser.ID && x.Status == 1 && x.Type == 1);
            <li class="event-list-item" arg="@meet.ID">
                <div class="event-name"><a href="@Url.Action("View", "Events", new { ID = meet.ID })" title="@meet.Name">@Html.Raw(meet.Name)</a></div>
                <div class="event-date">@meet.StartDate.Value.ToString("d MMMM yyyy")</div>
                <div class="event-list-item-img">
                    @if (iamgo)
                    {
                        <div class="i-am-go"></div>
                    }
                    <a href="@Url.Action("View", "Events", new { ID = meet.ID })"><img src="@meet.Photo?w=200&h=200&mode=crop"></a>
                </div>

                <div class="event-list-item-content">
                    <div class="line">
                        <span>Идут:</span>@meet.EventPeoples.Count(x => x.Status == 1 && x.Type == 1) человек
                    </div>
                    <div class="line">
                        <span>Ваших друзей:</span>@meet.EventPeoples.Count(x => x.Status == 1 && (friends.Contains(x.ToUserID ?? 0) || friends.Contains(x.FromUserID))) человек
                    </div>
                    <div class="line">
                        <span>Ищут с кем пойти:</span>@meet.EventPeoples.Count(x => x.Status == 1 && x.Type == 0) человек
                    </div>
                </div>
                @if (currentUser.ID > 0)
                {
                    if (iamgo)
                    {
                        <a id="btnGo" href="#" onclick="changeBtnGo(@meet.ID); return false;" class=" btn btn-blue btn-upper btn-xsmall btn-go">Я не иду</a>
                    }
                    else
                    {
                        <a id="btnGo" href="#" onclick="changeBtnGo(@meet.ID); return false;" class=" btn btn-green btn-upper btn-xsmall btn-go">Я иду</a>
                    }
                }

            </li>

}