@using SexiLove.Extensions
@using SexiLove.Models
@model SexiLove.Models.Event
@{
    var currentUser = ((BaseController)ViewContext.Controller).CurrentUser ?? new User() { ID = 0 };
    var friendsList = new xDBDataContext().Friends.Where(
        x => x.IsRead && (x.FromUserID == currentUser.ID || x.ToUserID == currentUser.ID) && x.Status == 1).ToList();
    var friends = friendsList.Select(x => x.GetUserID(currentUser)).ToList();
}
<div id="dt">

    @foreach (var meet in new List<Event>() { Model })
    {
        var iamgo = meet.EventPeoples.Any(x => x.FromUserID == currentUser.ID && x.Status == 1 && x.Type == 1) || meet.EventPeoples.Any(x => x.ToUserID == currentUser.ID && x.Status == 1 && x.Type == 1);
        var iamsearch = meet.EventPeoples.Any(x => x.FromUserID == currentUser.ID && x.Status == 1 && x.Type == 0) || meet.EventPeoples.Any(x => x.ToUserID == currentUser.ID && x.Status == 1 && x.Type == 0);
        <ul class="list-unstyled event-list">
            <li class="event-list-item" arg="@meet.ID">
                <div class="event-name"><a href="@Url.Action("View", "Events", new { ID = meet.ID })" title="@meet.Name">@Html.Raw(meet.Name)</a></div>
                <div class="event-date">@meet.StartDate.Value.ToString("d MMMM yyyy")</div>
                <div class="event-list-item-img">
                    @if (iamgo)
                    {
                        <div class="i-am-go"></div>
                    }
                    <a href="@Url.Action("View", "Events", new { ID = meet.ID })"><img src="@meet.Photo?w=200&h=200&mode=crop"></a>
                </div>

                <div class="event-list-item-content">
                    <div class="line">
                        <span>Идут:</span>@meet.EventPeoples.Count(x => x.Status == 1 && x.Type == 1) человек
                    </div>
                    <div class="line">
                        <span>Ваших друзей:</span>@meet.EventPeoples.Count(x => x.Status == 1 && (friends.Contains(x.ToUserID ?? 0) || friends.Contains(x.FromUserID))) человек
                    </div>
                    <div class="line">
                        <span>Ищут с кем пойти:</span>@meet.EventPeoples.Count(x => x.Status == 1 && x.Type == 0) человек
                    </div>
                </div>
                @if (currentUser.ID > 0)
                {
                    if (iamgo)
                    {
                        <a id="btnGo" href="#" onclick="changeBtnGo(@meet.ID); return false;" class=" btn btn-blue btn-upper btn-xsmall btn-go">Я не иду</a>
                    }
                    else if (iamsearch)
                    {
                        <a id="btnSearch" href="#" onclick="changeBtnSearch(@meet.ID); return false;" class=" btn btn-blue btn-upper btn-xsmall btn-go">Уже не ищу</a>
                    }
                    else
                    {
                        <a id="btnGo" href="#" onclick="changeBtnGo(@meet.ID); return false;" class=" btn btn-green btn-upper btn-xsmall btn-go">Я иду</a>
                        <a id="btnSearch" href="#" onclick="changeBtnSearch(@meet.ID); return false;" class=" btn btn-green btn-upper btn-xsmall btn-go">Я ищу компанию</a>
                    }
                }

            </li>

        </ul>
        if (!iamgo && !iamsearch)
        {
            <div class="event-full-text">
                @Html.Raw(Model.FullDescr.IsFilled() ? Model.FullDescr : Model.ShortDescr)
            </div>
        }
        if (iamgo)
        {
            <div class="event-full-text">
                <div class="friend-list">
                    <div id="scroller">
                        @foreach (Friend fr in friendsList)
                        {
                            if (!fr.IsAlreadyInvitedForEvent(currentUser, meet))
                            {
                                <div class="fr-line">
                                    <img src="@fr.GetAvatar(currentUser)?w=22&h=22&mode=crop" />
                                    <a href="@Url.Action("Index", "Cabinet", new{ID= fr.GetUserID(currentUser)})">@fr.GetFriendName(currentUser)</a>
                                    <a id="btnInvite" href="#" onclick="changeBtnInvite(@Model.ID, @fr.GetUserID(currentUser), 1, this); return false;" class=" btn btn-green btn-upper btn-xsmall btn-go">Предложить пойти</a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
        if (iamsearch)
        {
            var searchList = new xDBDataContext().EventPeoples.Where(x => x.EventID == Model.ID && x.ToUserID == null && x.FromUserID != currentUser.ID && x.Type == 0 && x.Status == 1);
            <div class="event-full-text">
                <div class="friend-list">
                    <div id="scroller">
                        @foreach (var fr in searchList)
                        {
                            if (!fr.IsAlreadyInvitedForEvent(currentUser))
                            {
                                <div class="fr-line">
                                    <img src="@fr.GetAvatar(currentUser)?w=22&h=22&mode=crop" />
                                    <a href="@Url.Action("Index", "Cabinet", new{ID= fr.GetUserID(currentUser)})">@fr.GetName(currentUser)</a>
                                    <a id="btnInvite" href="#" onclick="changeBtnInvite(@Model.ID, @fr.GetUserID(currentUser), 0, this); return false;" class="btn btn-green btn-upper btn-xsmall btn-go">Предложить пойти</a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    }

</div>