@{
    var currentUser = ((BaseController)ViewContext.Controller).CurrentUser ?? new User() { ID = 0 };
    ViewBag.SidebarCSS = currentUser.ID > 0 ? "sidebar-reg" : "";

    ViewBag.Title = "CityLove - Список мест";
    Layout = "~/Views/Shared/InnerPage.cshtml";
    ViewBag.ContentCSS = "";
    
    ViewBag.ContentWrapCSS = "content-wrap-reg";
}
@using SexiLove.Extensions
@using SexiLove.Models
@model IList<SexiLove.Models.Place>
<header class="content-header row">
    <span class="icon icon-reg"></span>
    <ol class="list-unstyled breadcrumb" style="width: auto">
        <li style="float: right">
            <a style="font-weight: bold" href="@Url.Action("Create", "Places")">Добавить место</a>
        </li>
    </ol>
</header>
<table width="100%" class="tbl">
    <tr>
        <th>Название</th>
        <th>Статус</th>
    </tr>
    @foreach (var town in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("EditPlaceModer", "Admin", new{ ID = town.ID })">@town.Name</a>
            </td>
            <td>
                @Html.Raw(town.Approved ? "Отображается на сайте" :"На утверждении")
            </td>
        </tr>
    }
</table>



@section sidebar
{
    @Html.Action("LeftMenu", "Cabinet")
}
